dl {
    border: 1px solid red;
    overflow: hidden; /*over flow hidden will remind the <dl> to wrap around its floated children */
}
dt{
    float: left;
    clear: left; /*force the <dt> underneath anything floated left */
    width: 8rem;
}

dd{
    float: left;
    margin: 0;
    padding: 0;
}